.container-x {
    border-radius: 10px;
    background: #f8f9fa;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
  }
  
  .fs-4 {
    font-size: 22px;
    font-weight: bold;
  }
  
  .fs-5 {
    font-size: 20px;
  }
  